/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  height: 100%;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  height: 100%;
}
